In [ ]:
print('c\some\name')

In [ ]:
print(r'c\some\name')

In [ ]:
fullname = "robert_rotriguez_jr "
first_name = "robert"
last_name = "rotriguez_jr"

In [ ]:
print("first name is %s and last name is %s"%(first_name , last_name))

In [ ]:
print("first name is robert ans last name is rotriguez_jr")

In [ ]:
#we can write it both ways bt first way is most preferred

In [ ]:
fullname = "bonnet_rotriguez_jr "
first_name = "bonnet"
last_name = "rotriguez_jr"

In [ ]:
print("first name is %s and last name is %s"%(first_name , last_name))

In [ ]:
print("first name is bonnet ans last name is rotriguez_jr")

In [ ]:
# bt in the second type we change the name mannually bt in first type it not to change

In [ ]:
fullname = "robert_rotriguez_jr "
first_name = fullname.split("_" ,1)[0]
last_name = fullname.split("_" ,1)[1]

In [ ]:
print("first name is %s and last name is %s"%(first_name , last_name))

In [ ]:
# % denotes place holder here 2 place holders

In [ ]:
print("actual name is %s and first name is %s and last name is %s"%(fullname,first_name , last_name))

In [ ]:
# here 3 place holdres

In [ ]:
fullname = "robert_rotriguez_jr "
first_name = fullname.split("_" ,1)[0]
last_name = fullname.split("_" ,1)[1]
age = 40

In [ ]:
print("actual name is %s and first name is %s and last name is %s and age is %d"%(fullname,first_name , last_name,age))

In [ ]:
para_str = """"this is a long string that is made up of several 
lines and non-printable characters such as TAB (\t) and they will
show up that way when displayed. NEWLINEs within the string ,
whether explicity given like this within the brackets [\n], or 
just a NEWLINE within the variable assignment will also show up."
"""

In [ ]:
para_str

# stimulations

In [ ]:
#what is the output when following statement executed?

In [25]:
"a" + "bc"

'abc'

In [26]:
"abcd"[2:]

'cd'

In [27]:
str1 = "hello"
str1[-1:]

'o'

In [ ]:
#what arithmatic opertor can not be used with strings?
- (minus)

In [28]:
print r"\hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(r"\hello")? (Temp/ipykernel_1608/4008435845.py, line 1)

In [ ]:
#ans error

In [29]:
print ('new''line')

newline

In [30]:
print ('new''\t''line')

new	line

In [31]:
print(0*A+0*B+0*C)

NameError: name 'A' is not defined

In [32]:
example = "snow world"
example[3] = 's'
print example

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(example)? (Temp/ipykernel_1608/2616836651.py, line 3)

In [ ]:
#ans error

In [35]:
example = "snow world"
example = 's'
print (example)

s

In [36]:
example = "helle"
example.find("e")

1

In [ ]:
#To concatenate two stringd what statements are applicable:
#1.s3=s1.s2  2.s3=s1+s2  3.s3=s1_add_(s2)  4.s3=s1*s2
ans 2.